$body-color: slateblue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #222;
  color: #202020;

  &::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
}

main {
  background-color: #fff;
  margin: 100px auto;
  padding: 20px;
  max-width: 450px;
  height: 600px;
  border-radius: 20px;
  position: relative;
}

h1,
legend {
  text-align: center;
  padding: 15px;
  font-size: 28px;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.expenses {
  display: block;
}

#activities {
  height: 220px;
  overflow-y: auto;
}

.balance {
  display: none;
}

.mode {
  padding: 10px 50px;
  border: 1px solid #d6d6d6;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.active-mode {
  background-color: #ffd100;
  border: transparent;
}

.total {
  font-size: 18px;
  text-align: right;
  margin: 20px 0 30px;
}

.total span {
  font-weight: 700;
}

.activity,
.user-balance,
.group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.group {
  border: 2px solid #ffd100;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

#groups-list .group::after {
  display: none;
}

.group:hover {
  box-shadow: 0 20px 30px rgba(#000, 0.1);
}

.initial {
  background-color: #d6d6d6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.title,
.user {
  font-size: 18px;
  font-weight: 700;
}

.title span {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #777;
}

.price,
.rest {
  margin-left: auto;
}

.add-btn {
  margin: 20px auto;
  display: block;
  font-size: 28px;
  cursor: pointer;
  border: none;
  background-color: #ffd100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s;
}

#goback-btn {
  display: none;
  position: absolute;
  top: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.size-6 {
  max-width: 48px;
  color: #fff;
}

.size-7 {
  max-width: 24px;
  color: #202020;
  margin-left: auto;
}

.add-btn:hover,
#goback-btn:hover {
  background-color: #fdc43f;
  box-shadow: 0 20px 30px rgba(#000, 0.1);
}

.rest-negative {
  font-weight: 700;
  color: #f75555ff;
}

.rest-positive {
  font-weight: 700;
  color: #12d18eff;
}

form {
  display: none;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  padding: 20px;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
}

#participants-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 5px;
  overflow: auto;
}

#add-group-form {
  #group-title {
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 0;
  }
}

.add-participant-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fdc43f;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
  padding: 5px 15px;
}

.add-participant-btn:hover {
  text-decoration: underline;
}

.split {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 20px;
}

.input {
  margin-bottom: 10px;
  background-color: #f4f4f4;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.split-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .input {
    margin-bottom: 0;
    margin-left: auto;
  }
}

label {
  font-weight: 600;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn {
  flex-grow: 1;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #fff;
  border: 2px solid #ffd100;
}

.btn:hover {
  box-shadow: 0 20px 30px rgba(#000, 0.1);
}

#submit-btn,
#submit-grp-btn {
  background-color: #ffd100;
}

#details {
  display: none;
}
